name: test
on: [push, pull_request]
env:
  DEBUG: testcontainers*
jobs:
  integration-tests:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          yarn policies set-version
          yarn install --prefer-offline

      - name: Run integration tests
        run: |
          yarn policies set-version
          yarn ts-node node_modules/jasmine/bin/jasmine --random=false index.test.ts
